language: scala

scala:
  - 2.13.1

before_install:
  - git fetch --tags

stages:
  - name: checker
  - name: test
  - name: release
    if: ((branch = master AND type = push) OR (tag IS present)) AND NOT fork

jobs:
  include:
    - stage: checker
      script: sbt scalastyle
    - stage: test
      script: sbt coverage test coverageReport coverageAggregate
      after_success:
        -  bash <(curl -Ls https://coverage.codacy.com/get.sh)
    - stage: release
      jdk: openjdk8
      script: sbt ci-release

cache:
  directories:
    - $HOME/.sbt
    - $HOME/.ivy2/cache
    - $HOME/.coursier
    - target/repos

notifications:
  email:
    on_success: never
